body {
    background-color: black;
    background-image: url("../images/gregman-maze.png");
    background-repeat: no-repeat;
    background-position: center top;
}

#greg {
    position: absolute; 
    content:url("../images/greg.png");
    width: 35px;
    height: 40px;
    left: 200px;
    top: 200px;
}

.python {
    position: absolute;
    content:url("../images/python.png");
    width: 30px;
    height: 30px;
}

#python1 {
    left: 200px;
    top: 400px;
}

#python2 {
    left: 350px;
    top: 400px;
}

#python3 {
    left: 500px;
    top: 400px;
}

#python4 {
    left: 650px;
    top: 400px;
}