body {
    background-color: white;
    background-image: url("../images/gregman-maze.png");
    background-repeat: no-repeat;
    background-position: center top;
}

#greg {
    position: absolute; 
    content:url("../images/greg.png");
}

.python {
    position: absolute;
    content:url("../images/python.png");
}